
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }

.all-themes {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
} 


#theme1, #theme2, #theme3 {
    display: none;
}

    video {
    position:fixed;
    top: 0%;
    bottom: 0%;
    left:0%;
    right:0%; 
    height: 100vh;
    z-index: -1;

}

.video3, .video1 {
    transform: scale(1.1);
    transform-origin: 0% 0% 0px;
}


.time-select, .time-select1, .time-select2
{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;

}

.time-select button {
    background-color: transparent;
    color: lightblue;
    border-radius: 20px;
    border: 2px solid lightgray;
    width: 30%;
    height: 10%;
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.time-select1 button{
background-color: rgba(255, 255, 255, 0.6);
    color:lightyellow;
    border-radius: 20px;
    border: 2px solid lightgray;
    width: 30%;
    height: 10%;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.time-select2 button {
background-color: transparent;
    color: lightyellow;
    border-radius: 20px;
    border: 2px solid lightgray;
    width: 30%;
    height: 10%;
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}



.time-select button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color:lightblue;
    border: 2px solid gray;
    cursor: pointer;
}


.time-select1 button:hover {
    background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        color: lightyellow;
        border: 2px solid gray;
        cursor: pointer;

}

.time-select2 button:hover {
    background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        color: lightpink;
        border: 2px solid gray;
        cursor: pointer;

}

.svg-container  {
    position: relative;
    width: 453px;
    height: 453px;
    margin-bottom: 40px;
}

.play1, .play3, .play2 {
    position: absolute;
    font-style: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}



.track-outline,
.moving-outline,
.track-outline1,
.track-outline2,
.moving-outline1,
.moving-outline2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
        animation: fadeIn 3s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
}

.display-time, .display-time1, .display-time2 {
    position: absolute;
    font-size: 72px;
    font-weight: bold;
    margin-top: 460px;
    margin-right: 40px;
}

.display-time2 {
    color: lightyellow;
}

.display-time1 {
    color:lightyellow;
}

.display-time {
    color: lightblue;
}

.svg-container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.svg-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.svg-container svg circle {
    transition: all 0.2s ease-in-out;
}

.theme-instructions {
    margin-top: 30px;
    margin-right: 200px;
    padding-right: 50px;
    /* background-color: gray; */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 20px;
    font-size: 30px;
    border-radius: 7px;
    border: 2px solid skyblue;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
        animation: fadeIn 3s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
} 

.theme-instructions1 {
margin-top: 30px;
    margin-right: 200px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 20px;
    font-size: 30px;
    border-radius: 7px;
    border: 2px solid lightyellow;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}


.theme-instructions2 {
margin-top: 30px;
    margin-right: 200px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px;
    font-size: 30px;
    border-radius: 7px;
    border: 2px solid lightyellow;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;

}

    

.theme-guide {
    position: absolute;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-home {
    display: none;

}

.back-to-home {
    position: absolute;
    right: 10px;
    top: 10px;
    justify-content: flex-end;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.back-to-home:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}


.back-to-home{
    background-color: #333;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 20px 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 0px 10px 0px rgba(83, 53, 53, 0.75);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.replay, .replay2, .replay1{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

#volume, #volume1, #volume2 {
    position: absolute;
    margin-bottom: 100px;
        width: 200px;
        height: 20px;
    
    
}

